.title{
	font-size: 1em;
	font-weight: bold;
}
.checkbox{
	display: flex;
	align-items: center;
	margin: 0 0 0 0;
}
.checkbox span{
	font-size: .9em;
}
.mbsc-row.submit .mbsc-col-12 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.mbsc-mobiscroll .mbsc-sc-whl-l {
	border-top: none !important;
	border-bottom: none !important;
}

.mbsc-mobiscroll.mbsc-grace-church.mbsc-btn {
	padding: 0.6em 2em 0.5em 2em;
	border-radius: 2em;
}

@media only screen and (max-width: 576px) {
	.mbsc-mobiscroll.mbsc-ltr.mbsc-stepper-cont {
		font-size: 0.9em;
	}
	.mbsc-mobiscroll.mbsc-ltr.mbsc-stepper.mbsc-segmented {
		font-size: 0.9em;
	}
}
